<main>
  <header class="header-app">
    <div class="seccion-tittle">Gestión de fondos</div>
  </header>
  <section class="content">
    
    <app-client-info [client]="clientPortfolio.client"></app-client-info>

    <div class="grid">
      <div class="col-12 md:col-4">
        <div class="box">Fondos disponibles</div>
        <app-fund [funds]="clientPortfolio.fundsAvailable"></app-fund>
      </div>
      
      <div class="col-12 md:col-4">
        <div class="box">Fondos inscritos</div>
        <app-fund [funds]="clientPortfolio.registeredFunds" [isCancelable]="true"></app-fund>
      </div>
      
      <div class="col-12 md:col-4">
        <div class="box">Movimientos recientes</div>
        <app-transaction-history [transactionHistory]="clientPortfolio.transactionHistory"></app-transaction-history>
      </div>
    </div>
     
    <app-spinner-modal></app-spinner-modal>
  </section>
</main>